
.container-1,.container-2{
    border: 1px solid black;
    width: 75%;
    margin: 0 auto;
    text-align: center;
}

.flex-box-container-1{
    border:1px solid black;
    display : flex;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.flex-box-container-1 div{
    padding: 3px;
}


.flex-box-container-2 {
    display: flex;
    flex-wrap: wrap;  
    border: 1px solid black;
    justify-content: space-around;
}

.flex-box-container-2 img{
    border: 1px solid black;
    box-shadow: 0px 10px 50px;
    margin-bottom: 10px;
}